.state {
        fill:#d3d3d3;
        stroke:#fff;
        stroke-width:0.75;
        stroke-opacity:1;
}
#AK {
  fill:#b8b8b8;
}
#AL {
  fill:#bbbbbb;
}
#AR {
  fill:#c3c3c3;
}
#AS {
  fill:#c8c8c8;
}
#AZ {
  fill:#a8a8a8;
}
#BE {
  fill:#c8c8c8;
}
#CA {
  fill:#000000;
}
#CO {
  fill:#888888;
}
#CT {
  fill:#b9b9b9;
}
#DC {
  fill:#8e8e8e;
}
#DE {
  fill:#c0c0c0;
}
#FL {
  fill:#9d9d9d;
}
#FM {
  fill:#c8c8c8;
}
#GA {
  fill:#ababab;
}
#GU {
  fill:#c8c8c8;
}
#HI {
  fill:#bcbcbc;
}
#IA {
  fill:#bcbcbc;
}
#ID {
  fill:#c3c3c3;
}
#IL {
  fill:#888888;
}
#IN {
  fill:#a7a7a7;
}
#KS {
  fill:#c0c0c0;
}
#KY {
  fill:#c2c2c2;
}
#LA {
  fill:#bdbdbd;
}
#MA {
  fill:#636363;
}
#MD {
  fill:#9c9c9c;
}
#ME {
  fill:#c1c1c1;
}
#MI {
  fill:#9c9c9c;
}
#MN {
  fill:#b3b3b3;
}
#MO {
  fill:#bababa;
}
#MP {
  fill:#c8c8c8;
}
#MS {
  fill:#c2c2c2;
}
#MT {
  fill:#c1c1c1;
}
#NC {
  fill:#a2a2a2;
}
#ND {
  fill:#c5c5c5;
}
#NE {
  fill:#c1c1c1;
}
#NH {
  fill:#bfbfbf;
}
#NJ {
  fill:#aaaaaa;
}
#NM {
  fill:#bdbdbd;
}
#NV {
  fill:#c3c3c3;
}
#NY {
  fill:#616161;
}
#OH {
  fill:#aaaaaa;
}
#OK {
  fill:#bfbfbf;
}
#ON {
  fill:#c8c8c8;
}
#OR {
  fill:#b7b7b7;
}
#PA {
  fill:#8d8d8d;
}
#PR {
  fill:#c4c4c4;
}
#RI {
  fill:#bebebe;
}
#SC {
  fill:#bdbdbd;
}
#SD {
  fill:#c5c5c5;
}
#SK {
  fill:#c8c8c8;
}
#TN {
  fill:#b7b7b7;
}
#TX {
  fill:#8b8b8b;
}
#UT {
  fill:#bcbcbc;
}
#VA {
  fill:#a7a7a7;
}
#VI {
  fill:#c8c8c8;
}
#VT {
  fill:#c5c5c5;
}
#WA {
  fill:#a8a8a8;
}
#WI {
  fill:#aeaeae;
}
#WV {
  fill:#c4c4c4;
}
#WY {
  fill:#c5c5c5;
}